<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add passwords</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <h1>Add password</h1>
    <form method="POST" action="/add">
        <label for="site">Website:</label>
        <input type="text" name="site" id="site" required> <br><b></b>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required> <br><b></b>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required> <br><b></b>
        <input type="submit" value="Add">
    </form>
    <a href="/">back home</a>
        
</body>
</html>