<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="dashboard-header">
        <h1 class="dashboard-title">Welcome to Your Dashboard</h1>
        <div class="dashboard-separator">
            <hr class="dashboard-line dashboard-line-top">
            <hr class="dashboard-line dashboard-line-bottom">
        </div>
        
    </header>
    <div class="container">
        <nav class="dashboard-nav">
            <ul class="dashboard-nav-list">
                <li class="dashboard-nav-item"><a href="/add" class="dashboard-nav-link">Add Password</a></li>
                <li class="dashboard-nav-item"><a href="/view" class="dashboard-nav-link">View Passwords</a></li>
                <li class="dashboard-nav-item"><a href="/logout" class="dashboard-nav-link">Logout</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>