<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Passwords</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script>
        const predefinedPasscode = "test";
        let timer;

        function startTimer() {
            if (timer) {
                clearTimeout(timer);
                
            }
            timer = setTimeout(function () {
                const rows = document.querySelectorAll("#passwords-table tbody tr");
                rows.forEach((row) => {
                    const passwordCell = row.querySelector("td:nth-child(3)");
                    if (passwordCell.dataset.revealed === "true") {
                        passwordCell.textContent = "**************";
                        passwordCell.dataset.revealed = "false";
                    }
                });
            }, 30000);
        }

        function calculatePasswordStrength(password) {
            let strength = 0;

            // Length criteria
            if (password.length >= 16) {
                strength += 4;
                console.log(`Length >= 16: +4`);
            } else if (password.length >= 12) {
                strength += 3;
                console.log(`Length >= 12: +3`);
            } else if (password.length >= 8) {
                strength += 2;
                console.log(`Length >= 8: +2`);
            } else {
                strength += 1;
                console.log(`Length < 8: +1`);
            }

            // Character type criteria
            if (password.match(/[a-z]/)) {
                strength += 1;
                console.log(`Contains lowercase: +1`);
            }
            if (password.match(/[A-Z]/)) {
                strength += 1;
                console.log(`Contains uppercase: +1`);
            }
            if (password.match(/[0-9]/)) {
                strength += 1;
                console.log(`Contains number: +1`);
            }
            if (password.match(/[\W_!#$%&'()*+,\-./:;<=>?@[\]^_`{|}~]/)) {
                strength += 2;
                console.log(`Contains special character: +3`);
            }

            // Common patterns criteria
            const commonPatterns = [
                "password",
                "123456",
                "qwerty",
                "letmein",
                "welcome",
            ];
            if (
                commonPatterns.some((pattern) =>
                    password.toLowerCase().includes(pattern)
                )
            ) {
                strength -= 2;
                console.log(`Contains common pattern: -2`);
            }

            console.log(`Password: ${password}, Strength: ${strength}`);
            return Math.min(strength, 10);
        }

        function showPasswordStrength(password) {
            const strength = calculatePasswordStrength(password);
            const strengthLevels = ['Very Weak', 'Weak', 'Moderate', 'Strong', 'Very Strong']; 
            const strengthColors = ['#FED6C9', '#FFE7D1', '#FEFFD6', '#E0FFCC', '#CAF2C2'];

            const strengthMeterWrapper = document.createElement('div');
            strengthMeterWrapper.className = 'strength-meter-wrapper';

            const strengthMeter = document.createElement('div');
            strengthMeter.className = 'strength-meter';
            const position = Math.pow((strength / 10), 2) * 100;
            strengthMeter.style.left = `calc(${position}% - 5px)`; 

            const arrow = document.createElement('div');
            arrow.className = 'arrow';
            arrow.style.left = `calc(${position}% - 5px)`; 

            strengthMeterWrapper.appendChild(strengthMeter);
            strengthMeterWrapper.appendChild(arrow);

            console.log(`Password: ${password}, Position: ${position}`);
            console.log(`Strength meter created for password: ${password}`);
            return strengthMeterWrapper;
        }

        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll("#passwords-table tbody tr");
            rows.forEach((row) => {
                const passwordCell = row.querySelector("td:nth-child(3)");
                const originalPassword = passwordCell.textContent;

                passwordCell.textContent = "**************";
                passwordCell.dataset.originalPassword = originalPassword;
                passwordCell.dataset.revealed = "false";
            });

            startTimer();

            const passcodeForm = document.querySelector("#passcode-form");
            passcodeForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const passcodeInput = document.querySelector("#passcode");
                const passcode = passcodeInput.value;

                if (passcode === predefinedPasscode) {
                    clearTimeout(timer);

                    const rows = document.querySelectorAll("#passwords-table tbody tr");
                    rows.forEach((row) => {
                        const passwordCell = row.querySelector("td:nth-child(3)");
                        const originalPassword = passwordCell.dataset.originalPassword;

                        passwordCell.textContent = originalPassword;

                        const existingMeter = passwordCell.querySelector('.strength-meter-wrapper');
                        if (!existingMeter) {
                            const strengthMeter = showPasswordStrength(originalPassword);
                            passwordCell.appendChild(strengthMeter);
                            console.log(`Strength meter appended for password: ${originalPassword}`);
                        }

                        passwordCell.dataset.revealed = "true";
                    });

                    startTimer();
                } else {
                    alert("Incorrect passcode");
                }
            });
        });

        function editPassword(id, currentPassword) {
    const passwordCell = document.querySelector(`#password-${id}`);
    passwordCell.innerHTML = `<input type="text" class="form-control" value="${currentPassword}" id="edit-password-${id}" /> <button class="btn btn-success btn-sm" onclick="savePassword(${id})">Save</button>`;
}

function savePassword(id) {
    const newPassword = document.querySelector(`#edit-password-${id}`).value;
    
    if (!newPassword) {
        alert('Password cannot be empty.');
        return;
    }

    fetch(`/edit_password/${id}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ password: newPassword })
    })
    .then(response => response.json()) // Make sure to parse JSON response
    .then(data => {
        if (data.success) {
            alert("Password updated successfully!");
            // Update the UI with the new password (decrypted, since it's already encrypted in the DB)
            const passwordCell = document.querySelector(`#password-${id}`);
            passwordCell.textContent = newPassword; // Update with new password
            passwordCell.dataset.revealed = "true"; // Mark as revealed
            location.reload(); // Optional if you want to fully reload the page
        } else {
            alert("Failed to update password.");
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("Failed to update password.");
    });
}
    </script>
</head>
<body>
    <div class="container2">
        <h1>View Passwords</h1>
        <a href="/" class="btn btn-secondary mt-3">Back Home</a>

        <table class="table table-striped table-bordered w-100" id="passwords-table" border="1">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{{ url_for('view') }}">
                            <label for="search">Site:</label>
                            <input type="text" name="search" id="search" placeholder="Search site" />
                            <button type="submit">Search</button>
                        </form>
                    </th>
                    <th>Username</th>
                    <th>
                        <form method="POST" action="{{ url_for('view') }}" id="passcode-form">
                            <div>
                                <label for="passcode" class="form-label">Passcode:</label>
                                <input type="password" class="form-control" name="passcode" id="passcode" required />
                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                            </div>
                        </form>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for id, site, username, password in passwords %}
                <tr>
                    <td>{{ site }}</td>
                    <td>{{ username }}</td>
                    <td id="password-{{ id }}">{{ password }}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" onclick="editPassword('{{ id }}', '{{ password }}')">Edit</button>
                      <form method="POST" action="{{ url_for('delete_password_route', id=id) }}" style="display: inline">
                          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                      </form>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>